<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonitoresUCA1.My.MySettings.MonitoresUCA1ConnectionString"
            connectionString="Data Source=LAPTOP-E0BOVEA3;Initial Catalog=MonitoresUCA1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>